<div [ngBusy]="busy"></div>
<div class="container">
    <br /><br />
    <label id="mfsEfficiency" (click)="getmfsPageForResourceUtilization()">{{ 'instrumentTypesComponent.labelHeader' | translate:lang}}</label>
    <label id="mfsName"> | {{ mfs_name }}</label>
    <br /><br />
    <md-tab-group md-stretch-tabs="always" [selectedIndex]="selectedTab" id="instrumentTypes_tabs">
        <md-tab label="{{ 'instrumentTypesComponent.labelInstruments' | translate:lang }}">
            <br /> <br />
            <div class="panel-group" id="accordion">
                <div *ngIf="errorInstruments" class="alert-danger">{{ 'instrumentTypesComponent.errorResourceCategory' | translate:lang}}</div>
                <div class="panel panel-default" *ngFor="let instrument of instruments; let upStreamLotIndex=index" id="panel_default_first">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_upStreamLotIndex{{upStreamLotIndex}}">
                                <div class="row">
                                    <div class="col-sm-6 custom-title">
                                        <label id="instrumentNameId">{{ instrument.name }} - {{ instrument.count }}</label>
                                    </div>
                                    <div class="col-sm-1 custom-cpp">
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="progress" id="progressbarFirst">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" [ngStyle]="{'width': instrument.rag_totals.A + '%' }" title="{{ instrument.rag_totals.A}}%">
                                                <label class="label-amber" *ngIf="instrument.rag_totals.A !='0'"> {{ instrument.rag_totals.A | number : '1.0-1'}}%  </label>
                                            </div>
                                            <div class="progress-bar progress-bar-warning" role="progressbar" [ngStyle]="{'width': instrument.rag_totals.Y + '%' }" title="{{ instrument.rag_totals.Y}}%">
                                                <label class="label-yellow" *ngIf="instrument.rag_totals.Y !='0'"> {{ instrument.rag_totals.Y | number : '1.0-1'}}%  </label>
                                            </div>
                                            <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width': (100 - (instrument.rag_totals.A +  instrument.rag_totals.Y ))  + '%' }">
                                                <label class="label-green" *ngIf="instrument.rag_totals.G !='0'"> {{ instrument.rag_totals.G | number : '1.0-1' }}%  </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne_upStreamLotIndex{{upStreamLotIndex}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="panel-group" id="nested{{upStreamLotIndex}}">
                                <div class="panel panel-default" *ngFor="let typesCategory of instrument.types_category; let upStreamUnitOpIndex=index" id="panel_default_collapseSecond"
                                    (click)="getDonutChart(0);">
                                    <div class="panel-heading" id="panel_heading_collapseSecond">
                                        <h4 class="panel-title" id="panel_title_collapseSecond">
                                            <a data-toggle="collapse" [attr.data-parent]="'#nested' + upStreamLotIndex" href="#nested-collapseOne_upStreamLotIndex{{upStreamLotIndex}}_upStreamUnitOpIndex{{upStreamUnitOpIndex}}"
                                                id="collapseSecond">
                                                <div class="row" id="row_collapseSecond">
                                                    <div class="col-sm-6 custom-title collapseSecond">
                                                        <label id="instrumentNameId">{{ typesCategory.name }}</label>
                                                    </div>
                                                    <div class="col-sm-1 custom-cpp">
                                                    </div>
                                                    <div class="col-sm-4 collapseSecond">
                                                        <div class="progress" id="progressbarSecond">
                                                            <div class="progress-bar progress-bar-danger" role="progressbar" [ngStyle]="{'width': typesCategory.rag_totals.A + '%' }">
                                                            </div>
                                                            <div class="progress-bar progress-bar-warning" role="progressbar" [ngStyle]="{'width': typesCategory.rag_totals.Y + '%' }">
                                                            </div>
                                                            <div class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width': (100 - (typesCategory.rag_totals.A +  typesCategory.rag_totals.Y ))  + '%' }">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="nested-collapseOne_upStreamLotIndex{{upStreamLotIndex}}_upStreamUnitOpIndex{{upStreamUnitOpIndex}}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <md-tab-group md-stretch-tabs="always" [selectedIndex]="selectedTab" id="childTabs">
                                                <md-tab label="{{ 'instrumentUtilizationComponent.operationTabHeaderLabel' | translate:lang}}">
                                                    <div class="col-sm-3 divDonut">
                                                        utilization
                                                        <canvas baseChart [labels]="labels" [datasets]="donutDatasets" [colors]="colorsEmptyObject" [chartType]="type" [legend]="false"></canvas>
                                                    </div>
                                                    <div class="col-sm-3 divDonutLegend">
                                                        <h2>{{greenValue}}%</h2>
                                                        <h4>Operating</h4>
                                                        <label class="lblDonutLegendGreen"></label>
                                                    </div>
                                                    <div class="col-sm-3 divDonutLegend">
                                                        <h2>{{yellowValue}}%</h2>
                                                        <h4>Idle</h4>
                                                        <label class="lblDonutLegendYellow"></label>
                                                    </div>
                                                    <div class="col-sm-3 divDonutLegend">
                                                        <h2>{{amberValue}}%</h2>
                                                        <h4>Off</h4>
                                                        <label class="lblDonutLegendAmber"></label>
                                                    </div>
                                                </md-tab>
                                                <md-tab label="{{ 'instrumentUtilizationComponent.reportsTabHeaderLabel' | translate:lang}}">
                                                    reports
                                                </md-tab>
                                                <md-tab label="{{ 'instrumentUtilizationComponent.notesTabHeaderLabel' | translate:lang}}">
                                                    notes
                                                </md-tab>
                                            </md-tab-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="{{ 'instrumentTypesComponent.labelPeople' | translate:lang}}">
            <div class="alert-danger">{{ 'instrumentTypesComponent.errorResourceCategory' | translate:lang}}</div>
        </md-tab>
        <md-tab label="{{ 'instrumentTypesComponent.labelDevices' | translate:lang}}">
            <div class="alert-danger">{{ 'instrumentTypesComponent.errorResourceCategory' | translate:lang}}</div>
        </md-tab>
    </md-tab-group>
</div>