<div id="content" class="contentHeader">
  <label id="utilization"class="custom-header"> {{ 'utilizationComponent.efficiency' | translate:lang }} </label>
</div>
<div class="col-sm-4" (click)="getTypesPage(1,1);">
  <md-card class="custom_card" style="padding-left: 0;padding-top: 0">
    <div class="card-header">
      <label id="label-header" id="manufacturingUnitName"> Boston </label>
      <img src="../assets/images/ic_more_horiz.png" class="image image_allign" />
    </div>
    <div>
      <div id="instrument">
        <md-card-footer class="custom-card-instrument">
          <label class="label-count"> 15 </label>
          <label class="label-type"> {{ 'utilizationComponent.instruments' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="people">
        <md-card-footer class="custom-card-people">
          <label class="label-count"> 30 </label>
          <label class="label-type"> {{ 'utilizationComponent.people' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="device">
        <md-card-footer class="custom-card-device">
          <label class="label-count"> 30 </label>
          <label class="label-type"> {{ 'utilizationComponent.devices' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="bbbb" class="progress">
        <md-card-footer class="card-ayg-percent">
          <label class="label-amber"> 10%  </label>
          <label class="label-yellow"> 20%  </label>
          <label class="label-green"> 70%  </label>
        </md-card-footer>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">
        </div>
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:20%">
        </div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
        </div>
      </div>
    </div>
    <div>
      <md-card-footer id="details" class="custom_card_footer"> DETAILS </md-card-footer>
    </div>
  </md-card>
</div>
<div class="col-sm-4" (click)="getTypesPage(1,2);">
  <md-card class="custom_card" style="padding-left: 0;padding-top: 0">
    <div class="card-header">
      <label id="label-header" id="manufacturingUnitName"> Atlanta </label>
      <img src="../assets/images/ic_more_horiz.png" class="image image_allign" />
    </div>
    <div>
      <div id="instrument">
        <md-card-footer class="custom-card-instrument">
          <label class="label-count"> 10 </label>
          <label class="label-type"> {{ 'utilizationComponent.instruments' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="people">
        <md-card-footer class="custom-card-people">
          <label class="label-count"> 20 </label>
          <label class="label-type"> {{ 'utilizationComponent.people' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="device">
        <md-card-footer class="custom-card-device">
          <label class="label-count"> 30 </label>
          <label class="label-type"> {{ 'utilizationComponent.devices' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="bbbb" class="progress">
        <md-card-footer class="card-ayg-percent">
          <label class="label-amber"> 10%  </label>
          <label class="label-yellow"> 25%  </label>
          <label class="label-green"> 65%  </label>
        </md-card-footer>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">
        </div>
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:25%">
        </div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:65%">
        </div>
      </div>
    </div>
    <div>
      <md-card-footer id="details" class="custom_card_footer"> DETAILS </md-card-footer>
    </div>
  </md-card>
</div>
<div class="col-sm-4" (click)="getTypesPage(1,3);">
  <md-card class="custom_card" style="padding-left: 0;padding-top: 0">
    <div class="card-header">
      <label id="label-header" id="manufacturingUnitName"> Boulder </label>
      <img src="../assets/images/ic_more_horiz.png" class="image image_allign" />
    </div>
    <div>
      <div id="instrument">
        <md-card-footer class="custom-card-instrument">
          <label class="label-count"> 10 </label>
          <label class="label-type"> {{ 'utilizationComponent.instruments' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="people">
        <md-card-footer class="custom-card-people">
          <label class="label-count"> 20 </label>
          <label class="label-type"> {{ 'utilizationComponent.people' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="device">
        <md-card-footer class="custom-card-device">
          <label class="label-count"> 30 </label>
          <label class="label-type"> {{ 'utilizationComponent.devices' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="bbbb" class="progress">
        <md-card-footer class="card-ayg-percent">
          <label class="label-amber"> 10%  </label>
          <label class="label-yellow"> 20%  </label>
          <label class="label-green"> 70%  </label>
        </md-card-footer>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:10%">
        </div>
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:20%">
        </div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:70%">
        </div>
      </div>
    </div>
    <div>
      <md-card-footer id="details" class="custom_card_footer"> DETAILS </md-card-footer>
    </div>
  </md-card>
</div>
<div class="col-sm-4" (click)="getTypesPage(1,4);">
  <md-card class="custom_card" style="padding-left: 0;padding-top: 0">
    <div class="card-header">
      <label id="label-header" id="manufacturingUnitName"> Denver </label>
      <img src="../assets/images/ic_more_horiz.png" class="image image_allign" />
    </div>
    <div>
      <div id="instrument">
        <md-card-footer class="custom-card-instrument">
          <label class="label-count"> 30 </label>
          <label class="label-type"> {{ 'utilizationComponent.instruments' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="people">
        <md-card-footer class="custom-card-people">
          <label class="label-count"> 100 </label>
          <label class="label-type"> {{ 'utilizationComponent.people' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="device">
        <md-card-footer class="custom-card-device">
          <label class="label-count"> 50 </label>
          <label class="label-type"> {{ 'utilizationComponent.devices' | translate:lang }} </label>
        </md-card-footer>
      </div>
      <div id="bbbb" class="progress">
        <md-card-footer class="card-ayg-percent">
          <label class="label-amber"> 20%  </label>
          <label class="label-yellow"> 20%  </label>
          <label class="label-green"> 60%  </label>
        </md-card-footer>
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
        </div>
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:20%">
        </div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:60%">
        </div>
      </div>
    </div>
    <div>
      <md-card-footer id="details" class="custom_card_footer"> DETAILS </md-card-footer>
    </div>
  </md-card>
</div>
<!--<div class="col-sm-4" >
    <md-card class="custom_card"  style="padding-left: 0;padding-top: 0">
        <h2>doughnut chart</h2>
  <div style="display: block">
      <canvas baseChart
        [labels]="labels"
        [datasets]="datasets"
        [colors]="colorsOverride"
        [chartType]="type"
        ></canvas>
    </div>
      <div>
        <md-card-footer id="details" class="custom_card_footer"> {{ 'processMonitorComponent.details' | translate:lang }} </md-card-footer>
      </div>
    </md-card>
  </div>-->
<!--<div class="col-sm-4" >
    <md-card class="custom_card"  style="padding-left: 0;padding-top: 0">
        <h2>doughnut chart</h2>
  <div style="display: block">
      <canvas baseChart
        [labels]="labels"
        [datasets]="datasets"
        [colors]="colorsEmptyObject"
        [chartType]="type"
        ></canvas>
    </div>
      <div >
        <md-card-footer id="details" class="custom_card_footer"> {{ 'processMonitorComponent.details' | translate:lang }} </md-card-footer>
      </div>
    </md-card>
  </div>-->